# Netlify/Vercel/Render
.env
.env.production
.env.local

# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build
dist/
build/
backend/uploads/
coverage/

# Misc
.DS_Store
.vscode/
logs/
*.log
